<h2>Random Color</h2>
<ul>
    <li class="random">
      <%=color.keyword%>
      <%=color.hex%>
      <div style="background-color: <%=color.hex%>; height:100px; width: 100px;"  >
      </div>
    </li>
</ul>
